/* drawing borders for everything so I can see the containers*/
/* * {
  border: 1px solid #bbb;
} */

body{
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  row-gap: 5px;
}

.nav-logo {
  width: 50%;
  height: 50%;
}

.nav-links a {
  padding: 1em;
  color: #9FC492;
  font-size:1.5em;
  text-decoration: none;
}
 
.navbar a:hover{
  background-color: #FFCF10;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
    display: block;
    margin: 0;
    border: 0;
    background-image: url('./assets/honey-line.png');
    background-size: contain;
    height: 50px;
}

/* Hero section */
.hero-container {
  position: relative;
  height: 30vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-video {
  position: absolute;
  z-index: -1;
  /* Styling the poster image 👇*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-heading {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 40px;
  color: #FFCF10;
}

  /* Flex box inside of Flex grid */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  grid-column: 1 / -1;
  background: white;
  padding: 15px;
  border: 2px solid #FFCF10;
  margin: 20px;
}

.flex-item {
  display: flex;
  flex-wrap: column;
  flex-direction: row;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex-item.button {
  display: flex;
  color: white;
  background-color: #9FC492;
  padding: 15px 5px;
  border-radius: 16px;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "La Belle aurore", "Brush Script MT", cursive;
  color: #FFCF10;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin: 10px 10px;
  text-align: center;
}

.grid-item.article {
  background-color: white;
  color: #FFCF10;
  padding: 12px 10px;
  border-radius: 15px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  max-width: 100%;
}

.article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.article-button {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #9FC492;
  width: 150px;
  padding: 15px 5px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.button:hover, .article-button:hover {
  background-color: #ff9f00;
}

.grid-item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* Form Styling */
legend {
  font-size: 2rem;
  font-weight: bold;
  color:#9FC492;
}

fieldset {
  margin: 10px 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #9FC492;
}

fieldset:hover {
  padding: 20px;
  border: 2px solid #4f6d45;
}

/* Footer styling */
.lower-banner {
  position: relative;
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/brunch.jpg");
  background-position: center;
  background-size: cover;
  color: #FFCF10;
  align-content: center;
  justify-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

/* Social Icons */
.demopadding {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 300px ;
  text-align: center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px;  	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#FFCF10 ;
	color:white;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#FFCF10 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}

/* Responsive Design */
@media (min-width: 1008px) {
  .navbar .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .banner {
    height: 250px;
  }

  .grid-item {
    height: 400px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 365px) {
  .nav-links {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;

  }

  .grid-item {
    height: 400px; /* Adjust height for smaller screens */
  }

  .button, .article-button {
    padding: 0.8rem;
  }

  legend {
    font-size: 1em;
  }

  fieldset {
    margin: 20px;}
}