/* drawing borders for everything so I can see the containers*/
/* * {
  border: 1px solid #bbb;
} */

body{
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  row-gap: 5px;
}

.logo {
  width: 30%;
  height: 30%;
}

.nav-links a {
  padding: 1em;
  color: #9FC492;
  font-size: 2em;
}
 
.navbar a:hover{
  background-color: #FFCF10;
  color: white;
}

hr {
    display: block;
    margin: 0;
    border: 0;
    background-image: url('./assets/honey-line.png');
    background-size: contain;
    height: 50px;
}

.hero-container {
  position: relative;
  height: 30vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-video {
  position: absolute;
  z-index: -1;
  /* Styling the poster image 👇*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-heading {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 40px;
  color: #FFCF10;
}

.footer-banner {
  position: relative;
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/brunch.jpg");
  background-position: center;
  background-size: cover;
  color: #FFCF10;
  align-content: center;
  justify-items: center;
}

.banner h1 {
  padding: 10px 10px;
  align-self: center;
}

a {
  text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-rows: repeat(auto-fill, 1fr); */
    grid-gap: 30px;
    justify-content: space-around;
    margin: 20px 10px;
    text-align: center;

  }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  grid-column: 1 / -1;
  background: white;
  padding: 15px;
  border: 2px solid #FFCF10;
  margin: 20px;
}
.flex-item {
  display: flex;
  flex-wrap: column;
  flex-direction: row;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex-item.button {
  display: flex;
  color: white;
  background-color: #9FC492;
  padding: 15px 5px;
  border-radius: 16px;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
  
}

h2, h3 {
  grid-column: 1 / -1;
  font-family: La Belle aurore;
  font-size: 40px;
  font-weight: 500;
  color: #FFCF10;
  margin: auto;
}

.article-button {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #9FC492;width: 150px;
  padding: 15px 5px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.button:hover, .article-button:hover {
  background-color: #ff9f00;
}

.article {
  color: white;
  background-color: #9FC492;
  padding: 12px 20px;
  border-radius: 15px;
  /* justify-self: center; */
  justify-content: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px; /* Fixed height for consistency */
  max-width: 100%;
}

.article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.grid-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.footer-container {
  text-size-adjust: xx-large;
  display: grid;
  grid-column: 1 / -1;
  justify-content: stretch;
  padding: 15px 0;
 
}

/* Social Icons */
.demopadding {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 300px ;
  text-align: center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px;  	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#FFCF10 ;
	color:white;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#FFCF10 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}

/* Responsive Design */
@media (max-width: 1008px) {
  .navbar .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .banner {
    height: 250px;
  }

  .grid-item {
    height: 400px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid-item h3 {
    font-size: 1.2rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .button, .article-button {
    padding: 0.8rem;
  }
}